.nav-container{
  // background: linear-gradient(to bottom, rgb(170, 7, 97),rgb(119, 2, 66) );
  
  height: 50px;
  width: 100%;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15%;
  padding-right: 5%;
  position: fixed;
  top: 0;
  z-index: 1000;

  h1{
    color: white;
    cursor: pointer;
    font-size: 32px;
  }
}



.nav-links{
  display: flex;
  max-width: fit-content;
  gap: 30px;
  margin-left: 250px; 
 
}
.link{
  list-style: none;
}

a{
  text-decoration: none;
  color: white;
}

.normal-button{
  padding-inline: 0.75rem;
  padding-block: 0.2rem;
  background-color: rgb(85, 2, 57);
  
  border: 1px solid rgba(0, 7, 0, 0.493);
  outline: none;
  border-radius: 5px;
  font-size: 18px;
  color: rgb(255, 255, 255);
  

  &:hover{
      background-color: rgb(244, 225, 245);
      color: rgb(0, 0, 0);
  }
}

.footer-container{
  height: 40vh;
  width: 100%;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  h3{
      color: white;
  }
}